#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

h4{
    background: #fff;
    border-radius: 5px;
    padding:20px;

}

.btn-group, .btn-group-vertical{
  z-index: 10;
  padding: 20px 50px;
  position: absolute;
  left: 0;
  width: 275px !important;
}

#legend{
  position:absolute;
  bottom:30px;
  left:30px;
  color:#fff;
  width: 250px;
  padding-top:20px;
  background-color: rgba(256,256,256,.85);
  border-radius:3px;
  z-index:10;
  border:1px solid #ccc;
}
#legend svg{
  filter: grayscale(6%) contrast(110%);
  -webkit-filter: grayscale(6%) contrast(110%);
}
#legendinner{
  margin:0 auto;
  position:relative;
  width:200px;
  opacity:1;
}
.leglabel{
  padding-bottom:5px;
  color: #000;
}
.legendleft{
  width:50px;
  float:left;
  margin:0px;
  color: #000;
  font-size:13px;
}
.legendright{
  width:50px;
  float:right;
  text-align:right;
  margin:0px;
  color: #000;
  font-size:13px;
}
